body {
    margin: 0;
    width: 100%;
    background-color: #b81e28;
}
h1 {
    font-family: 'DM Serif Text', serif;
    display: flex;
    justify-content: center;
    font-size: 35px;
    letter-spacing: 2px;
    color: darkgrey;
}
form {
    font-size: 20px;
}
#questions {
    background-image: linear-gradient(#ffffff, #f1ddde, #e5bebf, #e0aeb1, #dca8aa);
    margin: 5em;
    border-radius: 2%;
}
#questions p {
    font-family: 'Libre Baskerville', serif;
    margin: 0 2em;
    padding: 1em;
    font-size: 25px;
    color: teal;
}
#questions input {
    margin:1em 2em 1em 4em;
    font-size: 20px;
}
button {
    margin: 1em 5em;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    color: white;
    background-color: #1bbcc2;
    outline: none;
}
button:hover {
    background-color: #115052;
    transition: all ease-in 0.5s;
}

@media only screen and (max-width: 600px){
    body {
        width: 100%;
    }
    #questions {
        margin: 7em 7em 5em 7em;

    }
    h1 {
        margin: 1em 3em 0em 3em;
    }
}

@media only screen and (min-width: 300px){
   #questions {
        margin: 3em 1em 3em 1em;

    }
    p {
        font-size: 18px;
    }
    
}
